@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Shadows+Into+Light&family=Shizuru&display=swap');
@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
 /* upper bar*/
 .upper-bar{
background-color: #08526d;
color: #fff;
/* padding: 10px; */
position: fixed;
z-index: 10000000000;

 }

 .upper-bar span{
     color: #bfc6c9;
 }

#demo{
    text-align: center;
  font-size: 25px;
}
 /* start nave bar */
 .img-1 {
   
    background:linear-gradient(to left,#35014E,#39018F)
}

.img-2 {
   
    background:linear-gradient(to left,#1946BB,#1946BB)
}

.img-3 {
   
    background:linear-gradient(to left,#018CFF,#00BFFE)
}
 nav{
     position: fixed;
 }
 .navbar-brand span:first-child
 {
    
     font-size: 50px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #0a7197;
font-weight:bold ;
 }
 .navbar-brand span:nth-child(2)
 { color: #05384b;
    font-size: 30px;
    font-weight:bold ;

 }
 .navbar-brand span:last-child{
     color: #f39a9d;
     font-size: 30px;
 }

 .nav-item {
 font-size: 16px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
margin-left: 10px;
text-transform: uppercase;}

/* end nave bar */

/*slider*/
.title{
    text-align: center;
    color:cadetblue;
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
}
.phone >a>img
{
width: 70%;
 /* height: 100%; */
 max-height: 300px;
margin-left: 20%;
transition: 1s;
}
.phone >a>img:hover{
    border-radius: 20%;
    box-shadow: 2px 2px 2px 2px black;
    
}

.car>a>img
{
width: 80%;
/* height: 100%; */
max-height: 300px;

margin-right: 20%;
transition: 1s;
}
.car>a>img:hover{
    border-radius: 20%;
    box-shadow: 2px 2px 2px 2px black;
    
}
.car>h3{
    text-align: center;
    /* font-family: 'Raleway', sans-serif;
font-family: 'Shizuru', cursive; */
/* font-family: 'Shadows Into Light', cursive; */
font-family: 'Oswald', sans-serif;

}
.phone>h3{
    text-align: center;
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Shizuru', cursive; */
    /* font-family: 'Shadows Into Light', cursive; */
    font-family: 'Oswald', sans-serif;
}

.watch >a>img
{
width: 70%;
 /* height: 100%; */
 max-height: 300px;
margin-left: 20%;
transition: 1s;
}
.watch >a>img:hover{
    border-radius: 20%;
    box-shadow: 2px 2px 2px 2px black;
    
}
.watch>h3{
    text-align: center;
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Shizuru', cursive; */
    /* font-family: 'Shadows Into Light', cursive; */
    font-family: 'Oswald', sans-serif;
}

/*slider*/